{##
 #  @file 404.twig
 #  @desc This is the template file for the 404 page of the Rant and Rave website.
 #}

{# Extend the base template #}
{% extends "base.twig" %}

{# Set the title of the page #}
{% block title %}404 Page Not Found{% endblock %}

{# Set the content of the page #}
{% block content %}
    <h1>Error 404</h1>
    <h2>Page not found</h2>
{% endblock %}