<!DOCTYPE html>
<html>
<head>
    <title>Rant and Rave - The LaSallian</title>
</head>
<body>
    <h1>Rant and Rave</h1>

    {% for item in data %}
        <p>{{ item["title"]["rendered"] }}</p>
    {% endfor %}
</body>
</html>